.header-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 20px;
        }
        
        .user-info {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        .user-icon {
            width: 35px;
            height: 35px;
        }
        
        .user-name {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
        /* Mover el título hacia la derecha */
        
        .titulo {
            color: red;
            font-size: 36px;
            margin-left: 40px;
            /* Ajusta este valor para mover más o menos */
        }
.nav-links {
            display: flex;
            gap: 20px;
        }
        
        .nav-links a {
            color: var(--netflix-white);
            text-decoration: none;
            font-size: 14px;
            transition: color 0.3s;
        }
        
        .nav-links a:hover {
            color: var(--netflix-light-gray);
        }



 header {
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 50px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 120%);
            z-index: 1000;
            transition: background-color 0.3s;
            color: aliceblue;
           
        }
        
        header.scrolled {
            background-color: #141414;
        }

body {
            margin-top: 100px; /* Ajusta este valor según la altura del header */
        }